* {
    box-sizing: border-box;
    margin: 0;
    font-size: 40px;
}

body {
    margin: 0;
    background-image: url('../img/got-bg.jpg');
    background-size:  cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    // background-color: rgba(0, 0, 0, 0.4);

}




