ul {
    padding-top: 10em;
}

.heading {
    font-weight: bold;
    font-size: 1em;
}

.productName {
    font-weight: bold;
    text-decoration: underline;
    
}

.properties {
    font-size: 1.4em;
}